.card-title {
  text-transform: capitalize;
  padding: 5px 0;
  border-bottom: solid 1px black;
}

.tags-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  border-top: solid 1px rgba(55, 53, 53, 0.445);
}

.poke-card {
  border-radius: 1rem;
  width: 220px;
  box-shadow: 0 0 30px 2px rgb(165, 219, 249);
}

.add {
  width: 90%;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  margin-bottom: 20px;
  background-color: #4681f4;
  color: white;
}

.remove {
  width: 90%;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  margin-bottom: 20px;
  background-color: #f44336;
  color: white;
}

.add-remove:hover {
  width: 90%;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  margin-bottom: 20px;
  opacity: 0.8;
}


button{
    cursor: pointer;
}