.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(216, 242, 252);
}



@media only screen and (max-width: 600px) {
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}